<div>
  <h2>Tasks</h2>
</div>
<figure>
  <table class="table-full-width">
    <tr>
      <th><%= I18n.t('tasks.title') %></th>
      <th><%= I18n.t('tasks.description') %></th>
      <th><%= I18n.t('tasks.due_date') %></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date.strftime('%d-%m-%y') %></td>
      </tr>
    <% end %>
  </table>
</figure>