<div>
  <h2>Tasks</h2>
</div>
<figure>
  <table class="table-full-width">
    <tr>
      <th><%= I18n.t('tasks.title') %></th>
      <th><%= I18n.t('tasks.description') %></th>
      <th><%= I18n.t('tasks.due_date') %></th>
      <th><%= I18n.t('weather.temperation') %></th>
      <th><%= I18n.t('weather.humidity') %></th>
      <th><%= I18n.t('weather.wind_speed') %></th>

    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task[:title].truncate(10) %></td>
        <td><%= task[:description].truncate(20) %></td>
        <td><%= task[:due_date] %></td>
        <td><%= task[:weather]["temp"] %></td>
        <td><%= task[:weather]["humidity"] %></td>
        <td><%= task[:weather]["wind_speed"] %></td>
      </tr>
    <% end %>
  </table>
</figure>
