<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagerWeatherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
  </head>

  <body>
    <header>
      <div class="header">
        <h1>Hello, <%= current_user.email %></h1>
        <h2><%= I18n.t('location.name') %>, <%= current_user.location.name %></h2>
        <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'align_right') %>
      </div>

      <p class="notice">Welcome to my website!</p>


    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p><%= current_user.full_name %> website.</p>
    </footer>
  </body>
</html>
